@charset "utf-8";
/* CSS Document */
/*Cambio el archivo base para practicar las transiciones y lo demas del modulo*/

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 100%;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style-type:none;
	padding-left: 0px;
	text-align: center;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
aside {
	background: #CCC59E;
	width: 400px;
	text-align: center;
}

h1{
	text-align: center;
}

#contenido{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;

}

p{
	text-align: justify;
	padding: 2px;
}