<h1>{{h1texto}}</h1>

<style>
    h1{
        animation-name: animaciontit;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        text-align: center;
        color: white;
        width: 50%;
        margin: auto;
    }

@keyframes animaciontit{
    0%{
        transform: scale(1.0);
        background-color: blueviolet;
    }

    50%{
        transform: scale(1.5);
        background-color: black;
    }

    100%{
        transform: scale(1.0);
        background-color: blueviolet;
    }
}
</style>