/*Hacer esta parte tambien antes de entregar*/
.titulos {
    color: white;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border: 5px outset black;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 53px 53px 53px 53px;
    background: #fc00ff;
    background: linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -webkit-linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -moz-linear-gradient(141deg, #fc00ff 0%, #00acff 80%);


}

.opciones {
    font-size: 15px;
    color: black;
    font-family: Train one;
}

/*--------------------Boton Volver--------------------------------*/
#botonEsp {
    color: black;
    font-size: 20px;
    align-self: center;
    padding: 3px;
    background: #00dfff;
    background: linear-gradient(90deg, #00dfff 0%, #ff00ee 80%);
    background: -webkit-linear-gradient(90deg, #00dfff 0%, #ff00ee 80%);
    background: -moz-linear-gradient(90deg, #00dfff 0%, #ff00ee 80%);
    border: 3px outset black;
    border-radius: 6px;
    font-family: 'Permanent Marker', cursive;
}

#replica {
    display: flex;
    justify-content: center;

}
/*----------------------------------------------------------------*/

h1 {
    background: #00ffa5;
    background: radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    text-align: center;
    width: 600px;
    height: 36px;
    left: 50%;
    border: dashed 3px black;
    margin-left: -300px;
    font-size: 30px;
    color: #000000;
    position: fixed;
    margin-top: 0px;
    top: 0px;

}

body {
    background: #000000;
    background: linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -webkit-linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -moz-linear-gradient(127deg, #000000 0%, #2160cb 80%);
}

/*-------------------------- Botones ENVIAR y BORRAR-----------*/
.botones {
    display: flex;
    justify-content: center;
}

#botonenv {
    background-color: green;
    font-size: 20px;
    border: 3px outset black;
    border-radius: 6px;
    font-family: 'Permanent Marker', cursive;

}

#botonborr {
    background-color: red;
    font-size: 20px;
    border: 3px outset black;
    border-radius: 6px;
    font-family: 'Permanent Marker', cursive;
}
/*--------------------------------------------------------------*/

/*Input SELECCIONAR ARCHIVOS*/
#selec{
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
}

/*Apartado MOMENTOS en ambos lados*/
#momentos{
    position: fixed;
    top: 10px;
    left: 15px;
    background: #ff0000;
    background: #00beff;
    background: radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    padding: 5px;
    border: 4px outset black;
    box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
}

#foto1{
    position: fixed;
    width: 250px;
    top: 80px;
    left: 15px;
    border-radius: 30px;
}

#momentos2{
    position: fixed;
    top: 10px;
    right: 15px;
    background: #ff0000;
    background: #00beff;
    background: radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00beff 0%, #ff0000 80%);
    padding: 5px;
    border: 4px outset black;
    box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 44px 18px rgba(0,0,0,1);
    
}

#foto2{
    position: fixed;
    width: 250px;
    top: 80px;
    right: 15px;
    border-radius: 30px;
}