h1 {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #33FFF0;
    color: #B41CF2;
    position: fixed;
    top: 0px;
    width: 100%;
    font-family: Rubik Doodle Shadow;
    font-size: 32x;
}

.titulos {
    color: white;
    text-align: center;
    transition: all 1s ease;
}

/*----------------------------------------------------------------------------------------*/
#principal {
    width: 210px;
    height: 100px;
    border: 5px inset black;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 70px;
    background: #9e1cf2;
    background: repeating-radial-gradient(circle farthest-corner at top left, #9e1cf2 0%, #21cbbd 20%);
    background: -webkit-repeating-radial-gradient(circle farthest-corner at top left, #9e1cf2 0%, #21cbbd 20%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at top left, #9e1cf2 0%, #21cbbd 20%);
    transition: all 1s ease;
}

#principal h2 {
    color: blanchedalmond;
    text-align: center;
    margin-top: 10px;
    transition: all 0.9s ease;
}

#principal:hover {
    width: 250px;
    height: 140px;
    box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    cursor: pointer;

}

#principal:hover h2 {
    margin-top: 26px;
    font-size: 30px;
}






/*-----------------------------------------------------------------------------------------------------*/

/*".moverseparado" es para el recuadro violeta*/
.moverseparado {
    display: flex;
}

#cajaEsp {
    text-align: center;
    margin-top: 50px;
    border: 5px outset black;
    padding-bottom: 30px;
    box-shadow: 30px -33px 10px -24px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 30px -33px 10px -24px rgba(0, 0, 0, 1);
    -moz-box-shadow: 30px -33px 10px -24px rgba(0, 0, 0, 1);
    align-items: flex-start;
    background: #7fffd4;
    background: linear-gradient(160deg, #7fffd4 0%, #7a27b4 80%);
    background: -webkit-linear-gradient(160deg, #7fffd4 0%, #7a27b4 80%);
    background: -moz-linear-gradient(160deg, #7fffd4 0%, #7a27b4 80%);
}

#cajaEsp p {
    text-align: left;
    padding-left: 6px;
    color: white;
}

#tituloesp {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: white;
    font-size: 40px;
    text-shadow: -1px -7px 3px rgba(130, 0, 93, 0.79);
}

#cajaEsp h3 {
    text-transform: uppercase;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bolder;
}

.destacar {
    font-style: italic;
    font-weight: bolder;
}

#fotoplaya {
    width: 400px;
    margin-top: 50px;
    border-radius: 200px 200px 200px 200px;

    box-shadow: 10px -13px 14px 0px rgba(0, 0, 0, 0.74);
}
/*--------------------------------Recuadro APODOS--------------------------------------------------*/
#caja1 {
    text-align: center;
    width: 400px;
    margin-top: -350px;
    border: 5px solid black;
    margin-left: 0px;
    box-shadow: 45px 4px 67px -42px rgba(255, 2, 2, 1);
    border-radius: 0px 200px 200px 10px;
    background: #5972dc;
    background: linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    background: -webkit-linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    background: -moz-linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    transition: all 1s ease;
}

#caja1:hover{
    width: 470px;
    box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    cursor: pointer;

}
#caja1:hover .titulos{
    font-size: 30px;
}

#caja1:hover ul{
    font-size: 20px;
}

li{
    transition: all 1s ease;
}

#lista1 {
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 170px;
}
/*-----------------------------------------------------------------------------*/

/*------------------------------------Recuadro JUGUETES-----------------------------------*/
#caja2 {
    text-align: center;
    width: 400px;
    margin-top: -150px;
    border: 5px solid black;
    box-shadow: 45px 4px 67px -42px rgba(255, 2, 2, 1);
    border-radius: 0px 200px 200px 10px;
    background: #5972dc;
    background: linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    background: -webkit-linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    background: -moz-linear-gradient(159deg, #5972dc 0%, #ff0101 80%);
    transition: all 1s ease;
}

#caja2:hover{
    width: 470px;
    box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 83px 61px rgba(0, 0, 0, 1);
    cursor: pointer;
}

#caja2:hover .titulos{
    font-size: 30px;
}

#caja2:hover ol{
    font-size: 20px;
}


#lista2 {
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 120px;
}

/*".mover" es para los recuadros naranjas*/
.mover {
    margin-left: 410px;
    display: flex;
    flex-direction: column;
}

.recuadro {
    background-color: #008F00;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

body {
    background: #000000;
    background: linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -webkit-linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -moz-linear-gradient(127deg, #000000 0%, #2160cb 80%);
}

#irform {
    color: white;
}

footer {
    color: white;
}


.recuadro:hover{
    animation-name: aqui;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;

}

@keyframes aqui{
    50% {padding: 5px;
         font-size: 20px;
    }
    100%{padding: 3px;}
}


/*--------------------Lo que haga a partir de acá son animaciones, transiciones, etc----------*/