h1{
 text-align: center;
 background-color: #33FFF0;
 padding-bottom: 10px;
 padding-top: 10px;
 color: #B41CF2;
}

.titulos{
    background-color: #fb7991;
    color: white;
    text-align: center;
}

#principal{
    background-color:#9E1CF2;
    width: 210px;
    height: 100px;
    margin-top: 15px;
    border: 5px inset black;

}

#principal h2{
    color: blanchedalmond;
    text-align: center;
    margin-top: 10px;
}

#cajaEsp{
    text-align: center;
    margin-top:80px;
    background-color: aquamarine;
    border: 5px outset black;
    padding-bottom: 30px;

}

#cajaEsp p{
   text-align:left;
   padding-left: 6px;
}

#tituloesp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
    font-size: 40px;
}

#cajaEsp h3{
    text-transform: uppercase;
}

.destacar{
    font-style: italic;
    font-weight: bolder;
}

.tamañofoto{
    width: 400px;
}

.caja1{
    background-color: #ff9f15;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    border: 5px solid black;
}

/* DUDA: En las 2 listas (ul y ol) cuando queria usar (text-align: center) el texto si se alineaba al centro del div, pero el problema era por ejemplo los numeros (1,2,3) o los puntitos que representan cada item, esos quedaban a la izquierda, quedando un gran espacio que no queda bien esteticamente¿Como podria acomodarlo?*/
#lista1{
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 220px;
}

#lista2{
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 150px;
}



.recuadro{
    background-color: red;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}