/*Hacer esta parte tambien antes de entregar*/
.titulos {
    color: white;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border: 5px outset black;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 53px 53px 53px 53px;
    background: #fc00ff;
    background: linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -webkit-linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -moz-linear-gradient(141deg, #fc00ff 0%, #00acff 80%);

}

#fondo {
    background: #000000;
    background: linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -webkit-linear-gradient(127deg, #000000 0%, #2160cb 80%);
    background: -moz-linear-gradient(127deg, #000000 0%, #2160cb 80%);
    margin-top: 0px;
}

.contenido {
    text-align: left;
    margin-left: 560px;
}

#tituloEsp {
    background-color: blueviolet;
    color: white;
    width: 500px;
    margin: auto;
    text-align: center;
    border: 5px outset black;
    font-size: 20px;
    border-radius: 53px 53px 53px 53px;
    background: #fc00ff;
    background: linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -webkit-linear-gradient(141deg, #fc00ff 0%, #00acff 80%);
    background: -moz-linear-gradient(141deg, #fc00ff 0%, #00acff 80%); 
}

.opciones {
    font-size: 15px;
    font-family: Segoe Print;
    color: red;
}

#subirimg {
    margin-left: 500px;
    margin-top: 20px;
}

#botones {
    margin-left: 550px;
    margin-top: 40px;
}

#botonEsp {
    color: black;
    font-size: 15px;
}

#replica {
    width: 50px;
    background-color: #EFEDED;
    margin-left: 580px;
    border: 1px solid gray;
    text-align: center;
}

h1{
    background: #00ffa5;
    background: radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00ffa5 0%, #00f8ff 80%);
    text-align: center;
    position: fixed;
    width: 600px;
    height: 36px;
    left: 50%;
    margin-top: 0px;
    border: dashed 3px black;
    margin-left: -300px;

}